<h1> Welcome to Z-News! </h1>
<h2><em> Today News in Z-Land: </em></h2>

<% @articles.each do |article| %>
	<h3><%= link_to article.tile,article %></h3>
	<p><%= article.body %></p>
	<hr>
<% end %>
<%= link_to "Add New Post", new_article_path %>